<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>zgxtserver</display-name>
  <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>cn.com.gszw.web.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.com.gszw.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryNsrxx</display-name>
		<servlet-name>QueryNsrxx</servlet-name>
		<servlet-class>cn.com.gszw.web.QueryNsrxx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryNsrxx</servlet-name>
		<url-pattern>/QueryNsrxx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryNsrxxList</display-name>
		<servlet-name>QueryNsrxxList</servlet-name>
		<servlet-class>cn.com.gszw.web.QueryNsrxxList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryNsrxxList</servlet-name>
		<url-pattern>/QueryNsrxxList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryNsrxxTotal</display-name>
		<servlet-name>QueryNsrxxTotal</servlet-name>
		<servlet-class>cn.com.gszw.web.QueryNsrxxTotal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryNsrxxTotal</servlet-name>
		<url-pattern>/QueryNsrxxTotal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryNsrBasicInfo</display-name>
		<servlet-name>QueryNsrBasicInfo</servlet-name>
		<servlet-class>cn.com.gszw.web.QueryNsrBasicInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryNsrBasicInfo</servlet-name>
		<url-pattern>/QueryNsrBasicInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryNsrYhList</display-name>
		<servlet-name>QueryNsrYhList</servlet-name>
		<servlet-class>cn.com.gszw.web.QueryNsrYhList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryNsrYhList</servlet-name>
		<url-pattern>/QueryNsrYhList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetNsrList</display-name>
		<servlet-name>GetNsrList</servlet-name>
		<servlet-class>cn.com.gszw.web.GetNsrList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNsrList</servlet-name>
		<url-pattern>/GetNsrList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetNsrCount</display-name>
		<servlet-name>GetNsrCount</servlet-name>
		<servlet-class>cn.com.gszw.web.GetNsrCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNsrCount</servlet-name>
		<url-pattern>/GetNsrCount</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetSwrySjh</display-name>
		<servlet-name>GetSwrySjh</servlet-name>
		<servlet-class>cn.com.gszw.web.GetSwrySjh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSwrySjh</servlet-name>
		<url-pattern>/GetSwrySjh</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetHdssList</display-name>
		<servlet-name>GetHdssList</servlet-name>
		<servlet-class>cn.com.gszw.web.GetHdssList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHdssList</servlet-name>
		<url-pattern>/GetHdssList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetNsrTfyxx</display-name>
		<servlet-name>GetNsrTfyxx</servlet-name>
		<servlet-class>cn.com.gszw.web.GetNsrTfyxx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNsrTfyxx</servlet-name>
		<url-pattern>/GetNsrTfyxx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetSbList</display-name>
		<servlet-name>GetSbList</servlet-name>
		<servlet-class>cn.com.gszw.web.GetSbList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSbList</servlet-name>
		<url-pattern>/GetSbList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetJkList</display-name>
		<servlet-name>GetJkList</servlet-name>
		<servlet-class>cn.com.gszw.web.GetJkList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetJkList</servlet-name>
		<url-pattern>/GetJkList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetIfZgy</display-name>
		<servlet-name>GetIfZgy</servlet-name>
		<servlet-class>cn.com.gszw.web.GetIfZgy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetIfZgy</servlet-name>
		<url-pattern>/GetIfZgy</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SysPzCx</display-name>
		<servlet-name>SysPzCx</servlet-name>
		<servlet-class>cn.com.gszw.web.SysPzCx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysPzCx</servlet-name>
		<url-pattern>/SysPzCx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetPublicView</display-name>
		<servlet-name>GetPublicView</servlet-name>
		<servlet-class>cn.com.gszw.web.GetPublicView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPublicView</servlet-name>
		<url-pattern>/GetPublicView</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetDefault</display-name>
		<servlet-name>GetDefault</servlet-name>
		<servlet-class>cn.com.gszw.web.GetDefault</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDefault</servlet-name>
		<url-pattern>/GetDefault</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Sjxxzc</display-name>
		<servlet-name>Sjxxzc</servlet-name>
		<servlet-class>cn.com.gszw.web.Sjxxzc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sjxxzc</servlet-name>
		<url-pattern>/Sjxxzc</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetFpList</display-name>
		<servlet-name>GetFpList</servlet-name>
		<servlet-class>cn.com.gszw.web.GetFpList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFpList</servlet-name>
		<url-pattern>/GetFpList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>cn.com.gszw.web.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Fpdlxx</display-name>
		<servlet-name>Fpdlxx</servlet-name>
		<servlet-class>cn.com.gszw.web.Fpdlxx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fpdlxx</servlet-name>
		<url-pattern>/Fpdlxx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Fpxfzjb</display-name>
		<servlet-name>Fpxfzjb</servlet-name>
		<servlet-class>cn.com.gszw.web.Fpxfzjb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fpxfzjb</servlet-name>
		<url-pattern>/Fpxfzjb</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>PzCxList</display-name>
		<servlet-name>PzCxList</servlet-name>
		<servlet-class>cn.com.gszw.web.PzCxList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PzCxList</servlet-name>
		<url-pattern>/PzCxList</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetNsrxxBybm</display-name>
		<servlet-name>GetNsrxxBybm</servlet-name>
		<servlet-class>cn.com.gszw.web.GetNsrxxBybm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNsrxxBybm</servlet-name>
		<url-pattern>/GetNsrxxBybm</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetTzgg</display-name>
		<servlet-name>GetTzgg</servlet-name>
		<servlet-class>cn.com.gszw.web.GetTzgg</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>GetTzgg</servlet-name>
		<url-pattern>/GetTzgg</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetTzggmx</display-name>
		<servlet-name>GetTzggmx</servlet-name>
		<servlet-class>cn.com.gszw.web.GetTzggmx</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>GetTzggmx</servlet-name>
		<url-pattern>/GetTzggmx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetWsxx</display-name>
		<servlet-name>GetWsxx</servlet-name>
		<servlet-class>cn.com.gszw.web.GetWsxx</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>GetWsxx</servlet-name>
		<url-pattern>/GetWsxx</url-pattern>
	</servlet-mapping>
</web-app>